<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Budgeting stuff</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/Scripts/chartSetup.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style>
        html, body {
            height: 100%;
            margin: 0; /* idk default */
            padding: 0; /* Idk default */
            background-color: #D6EADF; /* pastel green looked nice */
        }
        .navbar-fixed-top {
            z-index: 1030; /* to make it so the navbar is above everything else */
            background-color: #C4E7E1; 
            border-color: #C4E7E1;
        }
        .navbar-brand, .nav-link, .navbar-fixed-top .navbar-nav > li > a {
            color: #000000 !important; /* black text so everything is visible  */
        }
        .footer {
            position: fixed; /* fixed it to the button because it was bugged */
            left: 0;
            right: 0;
            bottom: 0; 
            background-color: #C4E7E1; 
            color: black; 
            text-align: center;
            padding: 10px 0; /* idk default padding, when everything is green it doesnt really matter*/
        }
        .body-content {
            padding-top: 70px; 
        }
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
           
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("About", "Home")">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Session["Username"] != null)
                {
                    <li><a href="@Url.Action("Logout", "Home")">Logout (@Session["Username"])</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Home")">Log In</a></li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
</div>

<footer class="footer">
    <p>My C# Budgeting website for NBU </p>
</footer>
</body>
</html>
